<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>47128BFE-E716-42AE-9368-B05795884886</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jwt</string>
			<key>text</key>
			<string>Open jwt.io</string>
			<key>url</key>
			<string>https://jwt.io/#id_token={query}</string>
		</dict>
		<key>4DA42F61-6EE9-4D36-8155-7788703D190B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pypi</string>
			<key>text</key>
			<string>Search PyPI for {query}</string>
			<key>url</key>
			<string>https://pypi.org/search/?q={query}</string>
		</dict>
		<key>A78EA3F5-FE2D-4110-83D3-D0EF90964E46</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>python</string>
			<key>text</key>
			<string>Search Python docs for {query}</string>
			<key>url</key>
			<string>https://docs.python.org/3/search.html?q={query}</string>
		</dict>
		<key>D2AAEF8E-CA3D-42D2-B45C-FDF56AF20380</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hm</string>
			<key>text</key>
			<string>Search home-manager options for {query}</string>
			<key>url</key>
			<string>https://home-manager-options.extranix.com/?query={query}</string>
		</dict>
		<key>DAEE7EDB-7F76-4AA3-AF9C-0DC1A37C69E3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Search npmjs for {query}</string>
			<key>url</key>
			<string>https://www.npmjs.com/package/{query}</string>
		</dict>
		<key>E0B48082-A909-4B3A-A216-B676262D595C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pkgs</string>
			<key>text</key>
			<string>Search nixpkgs for {query}</string>
			<key>url</key>
			<string>https://search.nixos.org/packages?channel=unstable&amp;query={query}</string>
		</dict>
		<key>63ED18F4-8B23-4A24-A878-889923E3DB48</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nixos</string>
			<key>text</key>
			<string>Search NixOS options for {query}</string>
			<key>url</key>
			<string>https://search.nixos.org/options?channel=unstable&amp;query={query}</string>
		</dict>
		<key>06C9BA30-6B24-42F5-A522-E9BA69DCF17C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>noogle</string>
			<key>text</key>
			<string>Search Nix functions for {query}</string>
			<key>url</key>
			<string>https://noogle.dev/q/?limit=100&amp;term={query}</string>
		</dict>
	</dict>
</dict>
</plist>
