<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>47128BFE-E716-42AE-9368-B05795884886</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jwt</string>
			<key>text</key>
			<string>jwt.io/#id_token={query}</string>
			<key>url</key>
			<string>https://jwt.io/#id_token={query}</string>
		</dict>
		<key>DAEE7EDB-7F76-4AA3-AF9C-0DC1A37C69E3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>npmjs.com/package/{query}</string>
			<key>url</key>
			<string>https://www.npmjs.com/package/{query}</string>
		</dict>
		<key>E0B48082-A909-4B3A-A216-B676262D595C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nix</string>
			<key>text</key>
			<string>search.nixos.org/packages?query={query}</string>
			<key>url</key>
			<string>https://search.nixos.org/packages?channel=unstable&amp;type=packages&amp;query={query}</string>
		</dict>
	</dict>
</dict>
</plist>
