#tabbrowser-tabbox {
  margin: 8px !important;
  border-radius: 6px !important;
  overflow: hidden !important;
}

#sidebar-main {
  margin: 4px 0 !important;
}

#nav-bar {
  padding: 8px 0 0 0 !important;
}

toolbarspring {
  max-width: 104px !important;
}
